* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff) ;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
  }

:root {
    --ff: 'Poppins', sans-serif;
    --bg-header: rgb(201, 166, 224);
    --bg-menuHd: hwb(276 55% 14%);
    --bg-tglACT: #ff4f89;
    --bg-btn: #ff4f89;
    --bg-btn-hover: #fc1e68;
    --bg-tgl: rgb(0, 255, 62);
    --bg-body: #00ff3733;
}

body {
    background: var(--bg-body);
}

#main {
    width: 100%;
}

#capa, #sobrenos, #missao, #swot, #mixmkt, #financeiro {
    width: 100%;
    height: 2200px;
}

@media (min-width: 1024px) {
    #capa {
        height: 1200px;
    }
}

#header {
    background: var(--bg-header);
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: auto;
    padding-right: 30px;
    position: fixed;
    top: 0;
}

#logo {
    width: 200px;
}

.toggle {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: var(--bg-tgl);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle.active {
    background: var(--bg-tglACT);
}

.toggle ion-icon {
    position: absolute;
    font-size: 40px;
}

.toggle ion-icon.open, .toggle.active ion-icon.close  {
    display: block;
}

.toggle ion-icon.close, .toggle.active ion-icon.open {
    display: none;
}

#nav {
    background: var(--bg-menuHd);
    padding-left: 12px;
    overflow: hidden;
    position: fixed;
    display: none;
    top: 90px;
    width: 280px;
}

@media (min-width: 600px) {
    #nav {
        width: 200px;
    }
}

#nav #cell {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

#nav #cell li:hover {
    background: var(--bg-header);
    
}

#nav #cell a {
    text-decoration: none;
    color: aliceblue;
}

#fotoP {
    width: 100%;
    padding-top: 150px;
    margin: auto;
}

#capa {
    padding-top: 90px;
}

#imagemCapa {
    background-image: url(./assets/banner/banner1.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%;
    display: flex;
    margin-bottom: 50px;
    
    
}

#cardTitulo {
    width: 350px;
    background: #ffffffc4;
    margin-top: 250px;
    height: 180px;
    PADDING: 0 20px;
    margin: 300px auto;
}

#qc {
    margin-top: 10px;
}

#qctxt {
    margin: 20px 0;
}

#qcbtn {
    background: var(--bg-btn);
    border: none;
    border-radius: 8px;
    padding: 10px;
    opacity: 100%;
    font-weight: 700;
}

#qcbtn:hover {
    background: var(--bg-btn-hover);
    transition: background 0.7s ease;
}

#texto {
    margin: auto;
    width: 100%;
    text-align: justify;
    padding: 20px;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 0 20px;
    
}

@media (min-width: 1024px) {
    #cards {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
        padding: 0 23px;
        justify-content: center;
    }
}

.card {
    width: 300px;
    height: 500px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    border: solid 1px rgb(196, 196, 196);
    
}

@media (min-width: 1024px) {
    .card {
        width: 400px;
    }
}


.card h3 {
    margin-top: 10px;
}

.card h3, p, button  {
    margin-left: 20px;
}
.card p {
    width: 250px;
    text-align: justify;
    
}

@media (min-width: 1280px) {
    .card p {
        width: 340px;
    }
}

@media (min-width: 1360px) {
    .card p {
        width: 340px;
    }
}

.card button {
    background: var(--bg-btn);
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-weight: 700;
    align-items: center;
}

.cardid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.card button:hover {
    background: var(--bg-btn-hover);
    transition: background 0.7s ease;
}

#btn1 {
    margin: 44px auto;  
}

#btn2 {
    margin: 119px auto;
}

#btn3 {
    margin: 15px auto 0px auto;
}

@media (min-width: 1024px) {
    #btn1 {
        margin: 28px auto 0 auto;
    }

    #btn2 {
        margin: 103px auto auto auto;
    }

    #btn3 {
        margin: -1px auto 0px auto;
    }
}

@media (min-width: 1065px) {
    #btn3 {
        margin: 27px auto auto auto;
    }
}

@media (min-width: 1280px) {
    #btn2 {
        margin: 78px auto auto auto;
    }
}

#forn, #seg, #bul  {
    width: 298px;
    height: 180px;
}

@media (min-width: 1024px) {
    #forn, #seg, #bul  {
        width: 100%;
        height: 200px;
    }
}


